CanalTP\MttBundle\Entity\StopTimetable:
    type: entity
    table: mtt.stop_timetable
    repositoryClass: CanalTP\MttBundle\Entity\StopTimetableRepository
    fields:
        id:
            type: integer
            id: true
            generator:
                strategy: SEQUENCE
            sequenceGenerator:
                sequenceName: mtt.stop_timetable_id_seq
                allocationSize: 1
                initialValue: 1
        externalRouteId:
            type: string
            length: 255
            column: external_route_id
        created:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updated:
            type: datetime
            gedmo:
                timestampable:
                    on: update
    uniqueConstraints:
        stop_timetable_external_route_idx:
            columns: [ line_config_id, external_route_id ]
    oneToMany:
        blocks:
            targetEntity: Block
            mappedBy: stopTimetable
            orderBy:
                domId: ASC
            cascade:
                - remove
        stopPoints:
            targetEntity: StopPoint
            mappedBy: stopTimetable
            cascade:
                - remove
    manyToOne:
        lineConfig:
            targetEntity: LineConfig
            inversedBy: stopTimetables
            joinColumn:
                name: line_config_id
                referencedColumnName: id
