{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'css/bootstrap.css'
                    '../src/CanalTP/IussaadBundle/Resources/public/css/*'
                    '../vendor/canaltp/mtt-bundle/CanalTP/MttBundle/Resources/public/css/main.css'
                    '../web/components/bootstrap-datepicker/css/datepicker3.css'
                   filter='cssrewrite' output='css/full.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_config %}
    {% include 'CanalTPMttBundle::config.js.html.twig' %}
{% endblock %}

{% block title %}MTT{% endblock %}
{% block navbar_brand %}MTT{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div id="left-menu" class="btn-group-vertical" role="navigation">
                {% block left_menu %}
                    {{ render(controller('CanalTPMttBundle:Default:navigation')) }}
                {% endblock %}
            </div>
        </div>
        <div class="col-md-9" role="main">
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
    <div id="base-modal" class="modal fade">
    {% block base_modal %}
        <div class="modal-dialog">
            <div class="modal-content">
                {% include 'CanalTPMttBundle::modal.html.twig' %}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    {% endblock %}
    </div><!-- /.modal -->

{% endblock %}

{# Common javascripts for MethBundle #}
{% block javascripts %}{% endblock %}
