{% extends "::base.html.twig" %}

{% block head_config %}
    {% include 'CanalTPMttBundle::config.js.html.twig' %}
{% endblock %}

{% block title %}MTT{% endblock %}
{% block navbar_brand %}MTT{% endblock %}

{% block body %}
    {% block container %}
    {% endblock %}
    <div id="base-modal" class="modal fade">
    {% block base_modal %}
        <div class="modal-dialog">
            <div class="modal-content">
                {% include 'CanalTPMttBundle::modal.html.twig' %}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    {% endblock %}
    </div><!-- /.modal -->
{% endblock %}

{# Common javascripts for MethBundle #}
{% block javascripts %}
{% endblock %}
