{% extends "CanalTPMttBundle::base.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-md-12" role="main">
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
