{% extends no_left_menu|default == true ? "CanalTPMttBundle::container.html.twig" : "CanalTPMttBundle::container_and_menu.html.twig" %}

{% import "CanalTPSamEcoreUserManagerBundle::macros.html.twig" as macros %}

{% block main_content -%}
    <h1>{% block list_title -%}{% endblock %}</h1>
    {% block list_menu -%}{% endblock %}
    <table class="table {% block table_classes -%}table-hover{% endblock %}">
        <thead>
            <tr>
               {% block table_head -%}{% endblock %}
            </tr>
        </thead>
        <tbody>
        {% block table_body -%}
        {% endblock %}
        </tbody>
    </table>

    {% block list_pagination -%}
    {% endblock %}

{% endblock %}
