<li class="list-group-item" data-stop-point-navitia-id="{{ stopPoint.id|raw }}">
    <span class="glyphicon glyphicon-resize-vertical"></span> {{ schedule.stop_point.name }}
    <a class="pull-right minus-btn toggle-stop-point-btn remove-stop-point-btn" href="#"></a>
    <a class="pull-right plus-btn toggle-stop-point-btn add-stop-point-btn" href="#"></a>
</li>
