/* layout type Dijon (layout_1) */

#layout-1-wrapper{
    padding:8px;
}
#layout-main-wrapper #header{
    background-color:black;
    color:white;
    -webkit-print-color-adjust: exact;
}
#layout-main-wrapper #header #direction-title-wrapper,
#layout-1-wrapper #line_map_block,
#layout-1-wrapper #small-right-blocks,
#layout-main-wrapper #header #stop-point-title-wrapper{
    float:left;
    padding-left:15px;
}
#layout-1-wrapper #line_map_block,
#layout-main-wrapper #header #direction-title-wrapper{
    width:885px;
}
#layout-1-wrapper #small-right-blocks,
#layout-main-wrapper #header #stop-point-title-wrapper{
    width:192px;
}
#layout-main-wrapper #header #direction-title-wrapper{
    font-size:30px;
    line-height:55px;
    height:55px;
}
#layout-main-wrapper #header #stop-point-title-wrapper{
    padding-top:5px;
}
#map-wrapper{
    margin-top:15px;
}
#layout-1-wrapper #small-right-blocks{
    border-left: 1px solid black;
}
/* .editable #layout-1-wrapper #small-right-blocks{
    border: 1px solid black;
} */
#layout-1-wrapper #line_map_block,
#layout-1-wrapper #small-right-blocks{
    height:250px;
}
#layout-1-wrapper #line_map_block{
    text-align:center;
}
/* to align image vertically */
#layout-1-wrapper #line_map_block:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#timetables-wrapper{
    margin-top:5px;
    width:100%;
}
#timetables-wrapper .timegrid-container{
    float:left;
    font-size:12px;
    margin-top:5px;
    height:210px;
    line-height:20px;
    padding:2px;
    width:50%;
}
#timetables-wrapper .timegrid-header{
    background-color:black;
    color:white;
    font-weight:bold;
    font-size:14px;
    line-height:25px;
    padding:0px 5px;
    height:25px;
    width:100%;
}
#timetables-wrapper .timegrid-body{
    background-color: white;
    background-image: linear-gradient(transparent 50%, rgb(249, 231, 241) 50%);
    background-size:28px 28px;
    height: 180px;
    width:100%;
}
#layout-1-wrapper .timegrid-body .hour-label{
    font-weight:bold;
    line-height:15px;
}
#layout-1-wrapper .timegrid-column{
    line-height: 14px;
    width:4.5454%;
}
#layout-1-wrapper .small-block{
    border:1px solid white;
    border-bottom-color:black;
    margin:5px 0;
    height:55px;
}
#layout-1-wrapper .small-block:last-child{
    border-bottom:none;
}
.editable #layout-1-wrapper .small-block:last-child:hover,
.editable #layout-1-wrapper .small-block:hover{
    border: 1px dashed black;
}
#small-right-blocks{
    font-size:12px;
}
#small-right-blocks .block .title{
    font-weight:bold;
}
.timegrid-body{
    position:relative;
}
.timetable-notes{
    position:absolute;
    bottom:0;
    left:0;
}