canal_tp_mtt_homepage:
    pattern:  /{externalNetworkId}
    defaults: { _controller: CanalTPMttBundle:Default:index , externalNetworkId: null}

canal_tp_mtt_menu:
    pattern:  /navigation/networks/{externalNetworkId}/seasons/{seasonId}
    defaults: { _controller: CanalTPMttBundle:Default:navigation, options: {} }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        seasonId: \d+

#Season
canal_tp_mtt_season_list:
    pattern: /networks/{externalNetworkId}/seasons/list
    defaults: { _controller: CanalTPMttBundle:Season:list }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

canal_tp_mtt_season_edit:
    pattern: /networks/{externalNetworkId}/edit/{season_id}
    defaults: { _controller: CanalTPMttBundle:Season:edit, season_id: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_season_delete:
    pattern: /networks/{externalNetworkId}/delete/{seasonId}
    defaults: { _controller: CanalTPMttBundle:Season:delete, season_id: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_season_ask_publish:
    pattern: /networks/{externalNetworkId}/ask/publish/{seasonId}
    defaults: { _controller: CanalTPMttBundle:Season:askPublish }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_season_publish:
    pattern: /networks/{externalNetworkId}/publish/{seasonId}
    defaults: { _controller: CanalTPMttBundle:Season:publish }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_season_unpublish:
    pattern: /networks/{externalNetworkId}/unpublish/{seasonId}
    defaults: { _controller: CanalTPMttBundle:Season:unpublish }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_season_generate_pdfs:
    pattern: /networks/{externalNetworkId}/seasons/{seasonId}/generatePdf
    defaults: { _controller: CanalTPMttBundle:Season:generatePdf }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

#StopPoint
canal_tp_mtt_stop_point_list_defaults:
    pattern: /networks/{externalNetworkId}/list/seasons/{seasonId}
    defaults: { _controller: CanalTPMttBundle:StopPoint:list, seasonId: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        seasonId: \d+

canal_tp_mtt_stop_point_list:
    pattern: /networks/{externalNetworkId}/line/{externalLineId}/route/{externalRouteId}/list/seasons/{seasonId}
    defaults: { _controller: CanalTPMttBundle:StopPoint:list, seasonId: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalLineId: -?[a-zA-Z0-9_\-:]*
        externalRouteId: -?[a-zA-Z0-9_\-:]*
        seasonId: \d+

canal_tp_mtt_stop_point_list_json:
    pattern: /stops/networks/{externalNetworkId}/line/{lineId}/route/{externalRouteId}/list
    defaults: { _controller: CanalTPMttBundle:StopPoint:jsonList }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
    options:
        expose: true

#Line
canal_tp_mtt_line_choose_layout:
    pattern: /networks/{externalNetworkId}/seasons/{seasonId}/line/{externalLineId}/choose_layout/route/{externalRouteId}
    defaults: { _controller: CanalTPMttBundle:Line:chooseLayout, externalRouteId: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalLineId: -?[a-zA-Z0-9_\-:]*
        externalRouteId: -?[a-zA-Z0-9_\-:]*
        seasonId: \d+

#LineTimetable
canal_tp_mtt_line_timetable_list_defaults:
    pattern: /line-timetable/networks/{externalNetworkId}/list/season/{seasonId}
    defaults: { _controller: CanalTPMttBundle:LineTimetable:list, seasonId : null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        seasonId: -?\d+

canal_tp_mtt_line_timetable_list:
    pattern: /line-timetable/networks/{externalNetworkId}/line/{externalLineId}/list/season/{seasonId}
    defaults: { _controller: CanalTPMttBundle:LineTimetable:list, seasonId : null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalLineId: -?[a-zA-Z0-9_\-:]*
        seasonId: -?\d+

canal_tp_mtt_line_timetable_select_stops:
    pattern: /line-timetable/{lineTimetableId}/networks/{externalNetworkId}/season/{seasonId}/select-stops/route/{externalRouteId}
    defaults: { _controller: CanalTPMttBundle:LineTimetable:selectStops, externalRouteId: null }
    requirements:
        lineTimetableId: \d+
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalRouteId: -?[a-zA-Z0-9_\-:]*
        seasonId: \d+
    options:
        expose: true

canal_tp_mtt_line_timetable_show_schedule:
    pattern: /line-timetable/networks/{externalNetworkId}/line/{externalLineId}/show-schedule
    defaults: { _controller: CanalTPMttBundle:LineTimetable:showSchedule }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalLineId: -?[a-zA-Z0-9_\-:]*

#StopTimetable
canal_tp_mtt_stop_timetable_edit:
    pattern: /stopTimetable/edit/networks/{externalNetworkId}/line/{externalLineId}/route/{externalRouteId}/seasons/{seasonId}
    defaults: { _controller: CanalTPMttBundle:StopTimetable:edit }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalLineId: -?[a-zA-Z0-9_\-:]*
        externalRouteId: -?[a-zA-Z0-9_\-:]*
        seasonId: \d+

canal_tp_mtt_stop_timetable_view:
    pattern: /stopTimetable/view/networks/{externalNetworkId}/line/{externalLineId}/route/{externalRouteId}/seasons/{seasonId}/stopPoint/{externalStopPointId}
    defaults: { _controller: CanalTPMttBundle:StopTimetable:view }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalLineId: -?[a-zA-Z0-9_\-:]*
        externalRouteId: -?[a-zA-Z0-9_\-:]*
        externalStopPointId: -?[a-zA-Z0-9_\-:]*
        seasonId: \d+

canal_tp_mtt_stop_timetable_generate_pdf:
    pattern: /pdf/generate/stopTimetable/{stopTimetableId}/networks/{externalNetworkId}/stopPoint/{externalStopPointId}
    defaults: { _controller: CanalTPMttBundle:Pdf:generate }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        externalStopPointId: -?[a-zA-Z0-9_\-:]*
        stopTimetableId: \d+

canal_tp_mtt_stop_timetable_download_pdf:
    pattern: /pdf/generate/line/{lineConfigId}/route/{externalRouteId}/stopPoint/{externalStopPointId}
    defaults: { _controller: CanalTPMttBundle:Pdf:download }
    requirements:
        lineConfigId: \d+
        externalRouteId: -?[a-zA-Z0-9_\-:]*
        externalStopPointId: -?[a-zA-Z0-9_\-:]*

#Block
canal_tp_mtt_block_edit:
    pattern: /block/edit/networks/{externalNetworkId}/timetable/{timetableId}/blockType/{blockType}/domId/{domId}
    defaults: { _controller: CanalTPMttBundle:Block:edit }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        timetableId: \d+
        blockType: calendar|text|img
        domId: -?[a-zA-Z0-9_\-:]*
    options:
        expose: true

canal_tp_mtt_block_delete:
    pattern: /block/delete/networks/{externalNetworkId}/timetable/{timetableId}/block/{blockId}
    defaults: { _controller: CanalTPMttBundle:Block:delete }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
        timetableId: \d+
        blockId: \d+

#Calendar
canal_tp_mtt_calendar_view:
    pattern: /calendars/view/networks/{externalNetworkId}/route/{externalRouteId}/stopPoints/{externalStopPointId}/seasons/{currentSeasonId}
    defaults: { _controller: CanalTPMttBundle:Calendar:view, currentSeasonId: null}
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

#Frequency
canal_tp_mtt_frequency_edit:
    pattern: /frequency/edit/networks/{externalNetworkId}/block/{blockId}/
    defaults: { _controller: CanalTPMttBundle:Frequency:edit}
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

#LayoutConfigs
canal_tp_mtt_layout_config_list:
    pattern: /layouts/networks/{externalNetworkId}/list
    defaults: { _controller: CanalTPMttBundle:LayoutConfig:list}
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_layout_config_edit:
    pattern: /layouts/networks/{externalNetworkId}/edit/{layoutConfigId}
    defaults: { _controller: CanalTPMttBundle:LayoutConfig:edit, layoutConfigId: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

canal_tp_mtt_model_list:
    pattern: /layouts/networks/{externalNetworkId}/model/list
    defaults: { _controller: CanalTPMttBundle:LayoutModel:list }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

canal_tp_mtt_model_upload:
    pattern: /layouts/networks/{externalNetworkId}/model/upload
    defaults: { _controller: CanalTPMttBundle:LayoutModel:uploadModel }

canal_tp_mtt_layoutconfig_delete:
    pattern: /layouts/networks/{externalNetworkId}/delete/{layoutConfigId}
    defaults: { _controller: CanalTPMttBundle:LayoutConfig:delete, layoutConfigId: null, confirm: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_layoutconfig_delete_confirm:
    pattern: /layouts/networks/{externalNetworkId}/delete/{layoutConfigId}/{confirm}
    defaults: { _controller: CanalTPMttBundle:LayoutConfig:delete, layoutConfigId: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

#Webservice
canal_tp_mtt_WS_stop_timetable:
    pattern: /customers/{customerNameCanonical}/networks/{externalNetworkId}/routes/{externalRouteId}/stop_points/{externalStopPointId}/seasons
    defaults: { _controller: CanalTPMttBundle:Webservice:getStopTimetableUrl}
    requirements:
        customerNameCanonical: -?[a-zA-Z0-9_\-]*
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

#TODO: Remove this route when divia.fr updated (Refs #METH-420)
canal_tp_mtt_WS_stop_timetable_old:
    pattern: /networks/{externalNetworkId}/routes/{externalRouteId}/stop_points/{externalStopPointId}/seasons
    defaults: { _controller: CanalTPMttBundle:Webservice:getStopTimetableUrlOld}
    requirements:
        customerNameCanonical: -?[a-zA-Z0-9_\-]*
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

# AMQP Tasks
canal_tp_mtt_cancel_amqp_task:
    pattern: /amqp/networks/{externalNetworkId}/task/{taskId}/cancel/
    defaults: { _controller: CanalTPMttBundle:AmqpTask:cancel}
    requirements:
        taskId: -?[0-9]*
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

#Area
canal_tp_mtt_area_list:
    pattern: /areas/networks/{externalNetworkId}/list
    defaults: { _controller: CanalTPMttBundle:Area:list}
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_area_edit:
    pattern: /areas/networks/{externalNetworkId}/edit/{areaId}
    defaults: { _controller: CanalTPMttBundle:Area:edit, areaId: null }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_area_edit_stops:
    pattern: /areas/networks/{externalNetworkId}/edit/{areaId}/stops
    defaults: { _controller: CanalTPMttBundle:Area:editStops }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_area_edit_stops_save:
    pattern: /areas/networks/{externalNetworkId}/edit/{areaId}/stops/save
    defaults: { _controller: CanalTPMttBundle:Area:save }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_area_remove:
    pattern: /areas/networks/{externalNetworkId}/remove/{areaId}
    defaults: { _controller: CanalTPMttBundle:Area:remove }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_area_list_pdf:
    pattern: /networks/{externalNetworkId}/areas/{areaId}/listPdf
    defaults: { _controller: CanalTPMttBundle:Area:listPdf}
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
canal_tp_mtt_area_generate_pdfs:
    pattern: /networks/{externalNetworkId}/seasons/{seasonId}/areas/{areaId}/generatePdf
    defaults: { _controller: CanalTPMttBundle:Area:generatePdf }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

#Customer administration
canal_tp_mtt_customer_list:
    pattern: /networks/{externalNetworkId}/customer/list
    defaults: { _controller: CanalTPMttBundle:Customer:list }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*

canal_tp_mtt_customer_assign_layout:
    pattern: /networks/{externalNetworkId}/customers/{customerId}/assign/layout
    defaults: { _controller: CanalTPMttBundle:Customer:assignLayout }
    requirements:
        externalNetworkId: -?[a-zA-Z0-9_\-:]*
