{% extends "@CanalTPMtt/Layouts/Divia/base.html.twig" %}

{% block additionnal_wrapper_class %}proxi-layout{% endblock %}

{% block timetable_downer_content %}
    <div id="timetable_downer_content" class="clearfix">
        {%
            include "@CanalTPMtt/Layouts/Divia/leftOrangeBlock.html.twig"
            with { 'brand' : 'proxi' } only
        %}
        <div id="timetables-wrapper">
        {% set addNotes = true %}
        {% for i in 1..3 %}
            {% set id = 'timegrid_block_' ~ i %}
            {% set block = attribute(timetable.blocks, id) %}
            {% set nbLines = 4 %}
            {% include '@CanalTPMtt/Layouts/timegrid.html.twig' with {'addNotes': addNotes, 'nbLines' : nbLines} %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
