{% extends "CanalTPMttBundle::base.html.twig" %}

{% block main_content %}
    <h1>{{ 'welcome'|trans({}, 'default') }}</h1>
    <br>
    <h3>Networks</h3>
    <ul>
        {% for network in networks %}
            <li>{{ network.external_coverage_id }} -> {{ network.external_id }}</li>
        {% endfor %}
    </ul>
{% endblock %}
