{% extends "::base.html.twig" %}

{% block left_menu %}
    {{ render(controller('CanalTPMethBundle:Default:navigation', { 'max': 3 })) }}
{% endblock %}

{% block main_content %}
    <h1>{{ 'welcome'|trans({}, 'default') }}</h1>
    <br>
    <h3>Networks</h3>
    <ul>
        {% for network in networks %}
            <li>{{ network.coverage_id }} -> {{ network.name_id }}</li>
        {% endfor %}
    </ul>
{% endblock %}