{% extends "CanalTPMttBundle::container.html.twig" %}

{% trans_default_domain "default" %}

{% block main_content %}
    <div>
        <h3>{{ 'calendar.create.title'|trans }}</h3>
    </div>
{% endblock %}
