{% extends "CanalTPMttBundle::container.html.twig" %}

{% form_theme form 'CanalTPMttBundle:Form:fields.html.twig' %}

{% trans_default_domain "default" %}

{% block main_content %}
    <h3>{{ 'calendar.edit.title'|trans }}</h3>
    {%  include "CanalTPMttBundle:Calendar:form.html.twig" %}
{% endblock %}

{% block inline_javascripts %}
    {{ parent() }}
    <script>
        require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function(){

            $('input.datepicker ').datepicker({
                language: '{{ app.request.locale }}',
                startView: 1,
                autoclose: true
            });
        });
    </script>
{% endblock %}
