{# <-- TODO Change the path to macros. Should not be localized in templatePath #}
{% import templatePath ~ "macros.html.twig" as macros %}


<table>
    {{  macros.lineCalendar(id, lineCalendar ) }}
</table>