/* common layouts */
body.editable{
    background-color:#e6e6e6;
    min-width:1100px;
}
#layout-main-wrapper{
    background-color:white;
    width:1100px;
    -webkit-print-color-adjust: exact;
}
#layout-main-wrapper{
    border:1px solid black;
    height:800px;
    margin:10px auto;
}
.editable .block{
    border: 1px solid transparent;
    cursor:pointer;
    position:relative;
}
.editable .block:hover{
    border:1px dashed black;
}
.editable .block.disabled-block:hover{
    border:1px solid transparent;
}
.block.disabled-block{
    cursor: not-allowed;
}
.block.disabled-block:before{ 
    background-color:black;
    content: "";
    display: inline-block;
    height: 100%;
    opacity:0.1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.block > .glyphicon{
    color:#398439;
    position:absolute;
    right:5px;
    top:5px;
}
.block.disabled-block .glyphicon{
    color: rgba(0,0,0,0.3);
}
.line_map_img{
    max-height:95%;
    max-width:95%;
    vertical-align:middle;
}
.layout-container{
    margin:0;
    padding: 0;
}
.external-additional-informations{
    font-size:16px;
    font-weight:bold;
    position: absolute;
    text-align:center;
    margin-top:-8px;
    top:50%;
    width:100%;
}
.timegrid-body table{
    width:100%;
}
.timegrid-body .timegrid-column{
    text-align:center;
    vertical-align: top;
}
.editable .block.error:hover,
.editable .block.error{
    border:1px solid red;
}
.timetable-notes{
    font-size: 12px;
    line-height: 14px;
}
.centered-dropdown{
    margin-left:150px;
    margin-top: 10px;
}
.timegrid-body table .frequencies-row{
    height: 0px;
}
.frequencies-row td.frequency-content{
    text-align:center;
    padding: 0 1px;
}
.frequencies-row td.frequency-content div.relative-wrapper,
.frequencies-row td.frequency-content div.absolute-wrapper{
    position:relative;
    height:0px;
    width:100%;
}
.frequencies-row td.frequency-content div.absolute-wrapper{
    position:absolute;
}
.frequencies-row td.frequency-content div.min-height-wrapper{
    border:1px solid black;
    display:table;
    height:100px;
    text-align: center;
    width: 100%;
}
.frequencies-row td.frequency-content div.min-height-wrapper > span{
    display:table-cell;
    padding:10px;
    vertical-align: middle;
}