/* common layouts */
body,html{
    background-color:#e6e6e6;
    min-height:101%;
}
#layout-main-wrapper{
    background-color:white;
    border:1px solid black;
    height:800px;
    margin:10px auto;
    width:1100px;
}
.block{
    border: 1px solid black;
    cursor:pointer;
    position:relative;
}
.block:hover{
    border-style:dashed;
}
.block.disabled-block{
    background-color:rgba(0,0,0,0.1);
    cursor: not-allowed;
    text-align: center;
    font-size: 20px;
}
.block .glyphicon{
    color:#47a447;
    position:absolute;
    right:0;
    top:0;
}
.block.disabled-block .glyphicon{
    color: rgba(0,0,0,0.3);
}
/* layout type Dijon (layout_1) */
#layout-1-wrapper {
    padding:10px;
}
#layout-main-wrapper #header{
    background-color:black;
    color:white;
    font-size:30px;
    line-height:55px;
    height:55px;
}
#map-wrapper{
    margin-top:15px;
}
#layout-1-wrapper #small-right-blocks{
    border: 1px solid black;
}
#layout-1-wrapper #line_map_block,
#layout-1-wrapper #small-right-blocks{
    height:250px;
}
#timetables-wrapper .timetable-container{
    margin-top:5px;
    height:200px;
}
#layout-1-wrapper .small-block{
    border:1px solid white;
    border-bottom-color:black;
    cursor:pointer;
    margin:5px 0;
    height:55px;
}
#layout-1-wrapper .small-block:last-child{
    border-bottom:none;
}
#layout-1-wrapper .small-block:last-child:hover,
#layout-1-wrapper .small-block:hover{
    border: 1px dashed black;
}