/* common layouts */
body,html{
    background-color:#e6e6e6;
    min-height:101%;
}
#layout-main-wrapper{
    background-color:white;
    border:1px solid black;
    height:800px;
    margin:10px auto;
    width:1100px;
}
/* layout type Dijon (layout_1) */
#layout-1-wrapper {
    padding:10px;
}
#layout-main-wrapper #header{
    background-color:black;
    color:white;
    height:55px;
}
#map-wrapper{
    margin-top:15px;
}
#layout-1-wrapper #line-map,
#timetables-wrapper .timetable-container,
#layout-1-wrapper #small-right-blocks{
    border: 1px solid black;
}
#layout-1-wrapper #line-map-block,
#layout-1-wrapper #small-right-blocks{
    height:250px;
}
#layout-1-wrapper .small-block{
    border-bottom:1px solid black;
    cursor:pointer;
    margin:5px 0;
    height:55px;
}
#timetables-wrapper .timetable-container{
    margin-top:5px;
    height:200px;
}
.block.disabled-block{
    background-color:rgba(0,0,0,0.1);
    text-align: center;
    font-size: 20px;
}
.block .glyphicon{
    color:#47a447;
}
.block.disabled-block .glyphicon{
    color: red;
    line-height: 210px;
}