/* utilities   classes */

.display-none {
    display: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: auto;
}
.bold {
    font-weight: bold;
}
.pad10t {
    padding-top: 10px;
}
.pad30t {
    padding-top: 30px;
}
.relative {
    position: relative;
}
.modal-dialog {
    width: 800px;
}
textarea {
    resize: none;
}
.layout-preview {
    border: 1px solid black;
    max-height: 240px;
    max-width: 100%;
}
.layout-choice {
    float: left;
    width: 50%;
}
.layout-choice-item input {
    display: none;
}
.layout-choice-item {
    color: black;
}
.sortable li {
    cursor: move;
}
.sortable .sortable-highlight {
    min-height: 30px;
    background-color: black;
}
.sortable li > span {
    display: none;
}
.sortable .ui-sortable-helper {
    background-color: #f5f5f5;
}
.sortable li.ui-sortable-helper span {
    display: inline;
}
#included-stops,
#excluded-stops {
    /* border:1px solid black; */

    min-height: 150px;
    width: 100%;
}
.list-group.empty-list span.help-block {
    padding: 50px 10px;
}
.list-group.empty-list {
    border: 5px dashed #777;
    font-size: 35px;
    color: #777;
    line-height: 100%;
    text-align: center;
}
#included-stops .add-stop-point-btn {
    display: none;
}
#excluded-stops .remove-stop-point-btn {
    display: none;
}
/* Grid Time */

.grid-label-column {
    border-right: 1px solid black;
    width: 10%;
}
.grid-time-column-wrapper {
    width: 90%;
}
.grid-label-column,
.grid-time-column-wrapper,
.grid-time-column {
    float: left;
    min-height: 130px;
    text-align: center;
}
.grid-time-column {
    border-right: 1px solid #DDD;
}
.form-with-collection hr,
.grid-time-wrapper hr {
    margin: 5px 0;
}
.datepicker.datepicker-dropdown.dropdown-menu {
    z-index: 1060 !important;
}
@-webkit-keyframes "rotateThis" {
    from {
        -webkit-transform: rotate( 0deg);
    }
    to {
        -webkit-transform: rotate( 360deg);
    }
}
@keyframes "rotateThis" {
    from {
        transform: rotate( 0deg);
        -ms-transform: rotate( 0deg);
    }
    to {
        transform: rotate( 360deg);
        -ms-transform: rotate( 360deg);
    }
}
.icon-refresh-animate {
    animation-name: rotateThis;
    -webkit-animation-name: rotateThis;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
/*Area*/

.nav li.area-route li {
    display: block;
    padding: 10px 15px;
    position: relative;
}
li > span.stop_name {
    font-weight: bold;
    display: inline;
}
li.list-group-item.active {
    background-color: #ccc;
    opacity: 0.6;
}
#excluded-stops li.active .toggle-stop-point-btn {
    display: none;
}
.list-group li.list-group-item {
    line-height: 30px;
    padding: 0;
    border-left: 0;
    border-right: 0;
}
.list-group.sortable.area-list li.list-group-item {
    line-height: 30px;
    padding: 0;
    border-left: 0;
    border-right: 0;
}
.sortable-highlight {
    min-height: 30px;
    background-color: black;
}
li > span.glyphicon {
    display: none;
}
.ui-sortable-helper {
    background-color: #f5f5f5;
}
li.ui-sortable-helper span {
    display: inline;
}
.list-group li.list-group-item .minus-btn,
.list-group li.list-group-item .plus-btn {
    margin-top: 5px;
}
.list-group li.list-group-item:first-child {
    border-top: 0;
}
.area-label, .area-label a {
    font-weight: bold;
    font-size: 16px;
}
#title-all-stop-points{
    position: relative;
}
#add-all-stop-points{
    position: absolute;
    bottom: 10px;
    right: 0;
}
