/* utilities   classes */
.display-none{
    display:none;
}
.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn {
    pointer-events:auto;
}
.bold{font-weight:bold;}
.pad10t{padding-top:10px;}
.pad30t{padding-top:30px;}
.relative{
    position:relative;
}
.modal-dialog {
    width:800px;
}
textarea {
    resize: none;
}
.layout-preview{
    width:300px;
}
.layout-choice-item{
    color:black;
}
.sortable li{
    cursor:move;
}
.sortable .sortable-highlight{
    min-height:30px;
    background-color:black;
}
.sortable li > span{
    display:none;
}
.sortable .ui-sortable-helper{
    background-color:#f5f5f5;
}
.sortable li.ui-sortable-helper span{
    display:inline;
}
#included-stops,
#excluded-stops{
    /* border:1px solid black; */
    min-height:150px;
    width:100%;
}
.list-group.sortable.empty-list span.help-block{
    padding: 50px 10px;
}
.list-group.sortable.empty-list{
    border: 5px dashed #777;
    font-size: 35px;
    color: #777;
    line-height: 100%;
    text-align: center;
}
#included-stops .add-stop-point-btn{
    display:none;
}
#excluded-stops .remove-stop-point-btn{
    display:none;
}
/* Grid Time */
.grid-label-column{
    border-right:1px solid black;
    width:10%;
}
.grid-time-column-wrapper{
    width:90%;
}
.grid-label-column,
.grid-time-column-wrapper,
.grid-time-column{
    float:left;
    min-height: 130px;
    text-align:center;
 }
.grid-time-column{
    border-right:1px solid #DDD;
}
.form-with-collection hr,
.grid-time-wrapper hr{
    margin:5px 0;
}
.datepicker.datepicker-dropdown.dropdown-menu{
    z-index:1060 !important;
}
@-webkit-keyframes "rotateThis" {
  from { -webkit-transform: rotate( 0deg );   }
  to   { -webkit-transform: rotate( 360deg ); }
}
@keyframes "rotateThis" {
  from { transform: rotate( 0deg );   }
  to   { transform: rotate( 360deg ); }
}
.icon-refresh-animate {
  animation-name: rotateThis;
  -webkit-animation-name: rotateThis;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
 