/* utilities   classes */
.display-none{
    display:none;
}
.bold{font-weight:bold;}
.pad10t{padding-top:10px;}
.pad30t{padding-top:30px;}
.relative{
    position:relative;
}
.modal-dialog {
    width:800px;
}
textarea {
    resize: none;
}
/* general display */
#left-menu .nav > li {
    display:block;
}
#left-menu{
    border:1px solid #e7e7e7;
    border-radius: 4px;
    margin-bottom:50px;
    min-width:100%;
    padding:0;
    overflow-y: auto;
}
#left-menu.affix{
    min-width:0;
    position:fixed;
    top:0;
}
#left-menu .submenu-wrapper > ul > li > a,
#lines-accordion > li > a{
    border-bottom:1px solid #e7e7e7;
    padding: 10px 5px;
}
#lines-accordion .line-menu-wrapper > a{
    border-radius: 0;
    border-left:1px solid #e7e7e7;
    padding: 10px 5px;
}
#lines-accordion .line-menu-wrapper li:not(:last-child){
    border-bottom:1px solid #e7e7e7;
}
#lines-accordion .line-menu-wrapper{
    margin-left: 10px;
    
}
#lines-accordion .line-menu-wrapper ul{
    border:1px solid #428bca;
    margin-top: -1px;
    margin-left: 10px;
}
#lines-accordion .line-menu-wrapper{
    border-bottom:1px solid #e7e7e7;
}
#lines-accordion .line-menu-wrapper:last-child{
    border-bottom:none;
}
#lines-accordion .line-menu-wrapper li.active,
#lines-accordion .line-menu-wrapper li.active a{
    background-color:#5cb85c;
    padding-left:5px;
    color:white;
}
.layout-preview{
    width:300px;
}
.layout-choice-item{
    color:black;
}
.sortable li{
    cursor:move;
}
.sortable .sortable-highlight{
    min-height:30px;
    background-color:black;
}
.sortable li > span{
    display:none;
}
.sortable .ui-sortable-helper{
    background-color:#f5f5f5;
}
.sortable li.ui-sortable-helper span{
    display:inline;
}
#included-stops,
#excluded-stops{
    /* border:1px solid black; */
    min-height:150px;
    width:100%;
}
.list-group.sortable.empty-list span.help-block{
    margin-top: 50px;
}
.list-group.sortable.empty-list{
    border: 5px dashed #777;
    font-size: 35px;
    color: #777;
    line-height: 100%;
    text-align: center;
}
#included-stops .add-stop-point-btn{
    display:none;
}
#excluded-stops .remove-stop-point-btn{
    display:none;
}
/* Grid Time */
.grid-label-column{
    border-right:1px solid black;
    width:10%;
}
.grid-time-column-wrapper{
    width:90%;
}
.grid-label-column,
.grid-time-column-wrapper,
.grid-time-column{
    float:left;
    min-height: 130px;
    text-align:center;
 }
.grid-time-column{
    border-right:1px solid #DDD;
}
.form-with-collection hr,
.grid-time-wrapper hr{
    margin:5px 0;
}
.datepicker.datepicker-dropdown.dropdown-menu{
    z-index:1060 !important;
}
#left-menu.toggable-left-menu .toggle-button{
    height:100%;
}
#left-menu.toggable-left-menu{
    position:relative;
}
#left-menu.toggable-left-menu{
    background-color: white;
    left: -300px;
    min-width:initial;
    position: absolute;
    z-index: 200;
    width:300px;
}
#left-menu.toggable-left-menu .submenu-wrapper{
    position:relative;
}
#left-menu.toggable-left-menu .toggle-button{
    background-color: #777777;
    color:white;
    cursor:pointer;
    font-size: 20px;
    height: 100%;
    width: 20px;
    position: absolute;
    right: -20px;
    top: 0;
}
#left-menu.toggable-left-menu .toggle-button:hover{
    background-color: black;
}
#left-menu.toggable-left-menu .toggle-button span{
    position:absolute;
    top:50%;
    margin-top:-10px;
}
#left-menu.toggable-left-menu ul.back-btn-wrapper{
    border-bottom:1px solid black;
}
@-webkit-keyframes "rotateThis" {
  from { -webkit-transform: rotate( 0deg );   }
  to   { -webkit-transform: rotate( 360deg ); }
}
@keyframes "rotateThis" {
  from { transform: rotate( 0deg );   }
  to   { transform: rotate( 360deg ); }
}
.icon-refresh-animate {
  animation-name: rotateThis;
  -webkit-animation-name: rotateThis;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
 