body {margin:0; padding:0;background-color:white;}
.layout-container {
    margin: 0;
    padding: 0;
}
#header-bg,
#footer-bg,
.navbar,
.breadcrumb,
.no-print{
    display:none;
}
#layout-main-wrapper{
    border:none;
    height:auto;
    margin:0;
}

