body {margin:0; padding:0;}
.layout-container {
    margin: 0;
    padding: 0;
}
.no-print{
    display:none;
}
#layout-main-wrapper{
    border:none;
    height:auto;
    margin:0;
}
body *{
    -webkit-print-color-adjust: exact;
}

