<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% stylesheets 'css/bootstrap.css'
                        '../vendor/canaltp/meth-bundle/CanalTP/MethBundle/Resources/public/css/layouts.css'
                        '../vendor/canaltp/meth-bundle/CanalTP/MethBundle/Resources/public/css/layouts/*'
                       filter='cssrewrite' output='css/full_layouts.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {{ require_js_initialize() }}
    </head>
    <body>
        <div id="layout-main-wrapper">
        {% block body %}
            
        {% endblock %}
        </div>
        {% block scripts %}
            
        {% endblock %}
    </body>
</html>