{% extends "CanalTPMethBundle:Layouts:base_layout.html.twig" %}

{% block body %}
    <div id="layout-1-wrapper">
        <div class="container">
            <div id="header" class="row">
                <div class="col-md-10">
                    {% if route is defined %}
                        {{ route.name }} 
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if stop_point is defined %}
                        {{ stop_point.name }}
                    {% endif %}
                </div>
            </div>
            <div id="map-wrapper" class="row">
                <div id="line-map-block" data-block-level="line" data-block-type="text" class="block col-md-10">
                    
                </div>
                <div id="small-right-blocks" class="col-md-2">
                    <div class="small-block"></div>
                    <div class="small-block"></div>
                    <div class="small-block"></div>
                </div>
            </div>
            <div id="timetables-wrapper" class="row">
                <div class="timetable-container col-md-6"></div>
                <div class="timetable-container col-md-6"></div>
                <div class="timetable-container col-md-6"></div>
                <div class="timetable-container col-md-6"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
    require(['meth_layout'], function(layout){
        layout.init($('#layout-1-wrapper'));
    });
    </script>
{% endblock %}