{% extends "CanalTPMethBundle:Layouts:base_layout.html.twig" %}

{% block body %}

<div id="header" class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">

    </div>
</div>
{% endblock %}
